/*

# unignore dirs
!src/
!tests/
!.github/
!.specify/
!.vscode/
!docs/

# unignore files
!.gitignore
!.python-version
!pyproject.toml
!uv.lock
!README.md
!CHANGELOG.md

# re-ignore
__pycache__
*.egg-info
