(
    settings: (
        display_mode: Windowed,
        resolution_width: 1920,
        resolution_height: 1080,
        msaa_enabled: true,
        shadow_mode: Stencil,
        foot_support_max_drop: 0.45,
        foot_support_max_rise: 0.42,
    ),
    keybinds: (
        move_forward: "KeyW",
        move_backward: "KeyS|KeyF|KeyG",
        strafe_left: "KeyQ",
        strafe_right: "KeyE",
        turn_left: "KeyA",
        turn_right: "KeyF|KeyD",
        sprint: "ShiftLeft",
        jump: "Space",
    ),
    debug: (
        show_performance_overlay: true,
        show_baked_shadows: true,
        show_fog: true,
        show_collision_shapes: true,
        show_animation_debug: true,
        show_wireframe: false,
        show_world_axes: true,
    ),
)